<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
        http://www.springframework.org/schema/aop  http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<!-- Scan the the domain package for Spring repositories and services -->
	<context:component-scan base-package="gfv.homework.spcapitaliq.quotes.domain" />

	<context:property-placeholder location="classpath:spring.properties" />
	<bean id="mySessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="datasource" />
		<property name="annotatedClasses">
			<list>
				<value>gfv.homework.spcapitaliq.quotes.domain.StockQuote</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.HSQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">create</prop>
				<prop key="hibernate.connection.autocommit">true</prop>
			</props>
		</property>
	</bean>

	<!-- bean id="daoInMemory" class="gfv.homework.spcapitaliq.quotes.domain.StockDaoInMemoryImpl"/ -->

	<bean id="datasource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>

	<bean id="proxy" class="gfv.homework.spcapitaliq.quotes.domain.Proxy">
		<property name="active" value="${http.proxySet}" />
		<property name="host" value="${http.proxyHost}" />
		<property name="port" value="${http.proxyPort}" />
		<property name="user" value="${http.proxyUser}" />
		<property name="password" value="${http.proxyPassword}" />
	</bean>
	<bean id="qqserviceYahoo"
		class="gfv.homework.spcapitaliq.quotes.domain.QuoteQueryServiceYahooImpl">
		<property name="proxy" ref="proxy" />
		<property name="timeout" value="${api.timeout}" />
		<property name="apiService" value="${api.urlService}" />
	</bean>

	<bean id="txManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="mySessionFactory" />
		<property name="dataSource" ref="datasource"/>
	</bean>
	<tx:annotation-driven transaction-manager="txManager"/>


	<bean id="traderService" class="gfv.homework.spcapitaliq.quotes.domain.TraderServiceImpl">
		<!-- property name="quoteDao" ref="stockDao"/-->
	</bean>

</beans>